*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #fff;
}

body {
    background: #000;
}

/* Navbar */
nav {
    width: 100%;
    padding: 1.35rem 10rem;
    border-bottom: 1px solid #fff;
    background-color: #000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

nav h2 {
    font-size: xx-large;
}

#nav-options {
    width: 50rem;
    padding-top: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.nav-elem {
    height: 2rem;
    overflow-y: hidden;
}

.nav-elem > h4 {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.nav-elem > h5 {
    font-size: 0.82rem;
    margin-block: 0.79rem;
    cursor: pointer;
    overflow-y: hidden;
}

.nav-elem span {
    display: inline-block;
    transform: translateY(100%);
}

nav button {
    width: 8.4rem;
    height: 3rem;
    padding: 0.5rem 1.3rem;
    border: 0;
    outline: 0;
    border-radius: 5rem;
    font-size: 0.85rem;
    font-weight: 600;
    background: #0ca24e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

nav button svg {
    width: 1.3rem;
    height: 1.3rem;
}

/* Banner */
.banner {
    width: 100%;
    height: 100dvh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 6rem;
    line-height: 6rem;
}

.banner h1 svg {
    height: 3.5rem;
    width: 3.5rem;
    background: #0ca24e;
    border-radius: 50%;
}

#banner-tagline {
    margin-top: 1.3rem;
    font-size: 1.4rem;
}

.header-span-green {
    display: inline-block;
    font-weight: 500;
    color: #0cc05a;
    background-color: #0da34e1a;
    border: 1px solid #0da34e80;
    padding: 0.2rem 0.5rem;
    border-radius: 50px;
}

#banner-carousel {
    width: 50%;
    position: absolute;
    bottom: 10%;
    overflow: hidden;
}

#banner-carousel > div {
    display: flex;
    align-items: center;
    gap: 2rem;

    animation: banner-carousel 30s linear infinite;
}

#banner-carousel img {
    width: 6rem;
}

.banner-carousel-shadow {
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.shadow-left {
    left: 0;
    background: linear-gradient(to right, #000, transparent);
}

.shadow-right {
    right: 0;
    background: linear-gradient(to left, #000, transparent);
}

@keyframes banner-carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.service-section {
    width: 100%;
    min-height: 100dvh;
    padding-inline: 8rem;
    padding-top: 8rem;
    border-top: 1px solid #333;
    display: flex;
}

.service-section-left {
    width: 28%;
    position: relative;
}

.service-section-left button {
    width: 14.5rem;
    padding: 1rem 2rem;
    border: 0;
    outline: 0;
    border-radius: 5rem;
    font-weight: 600;
    background: #0ca24e;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: sticky;
    top: 20%;
}

.service-section-left button svg {
    width: 1rem;
    height: 1rem;
}

.service-section-right {
    width: 72%;
}

.service-section-heading {
    padding-bottom: 5rem;
    border-bottom: 1px solid #fff;
}

.service-section-heading p {
    width: 18rem;
    margin-top: 01rem;
    float: left;
}

.service-section-heading h3 {
    font-size: 2.4rem;
}

.service-row {
    padding-block: 1.8rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    isolation: isolate;
}

.service-row h3 {
    width: 18rem;
    font-size: 1.5rem;
}

.service-row p {
    width: 30rem;
}

.service-row > div {
    flex-grow: 1;
}

.service-row-icon {
    width: 2rem;
    height: 2rem;
    margin-left: auto;
}

.service-img {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}

.overlay {
    border-bottom: 1px solid #333;

    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #222;
    transform: scaleY(0);
}
